<div class="container" ng-cloak ng-show="showPostRecord">
  <meta property="og:title" content="{{postRecord.title}}" />
  <meta property="og:type" content="post" />
  <meta property="og:url" content="{{::postRecord.url}}" />

  <div class="ne-publication">
    <div class="row" ng-if="postRecord.status==='PUBLISHED'">
      <div class="col-xs-12 col-sm-7" ng-cloak>

        <div class="row">
          <div class="col-xs-12">
            <div class="ne-publication__header">
              <h3 class="wui-super-header wui-super-header--ne-publication-post">Post</h3>

              <ne-user-profile-object analytics-prefix="posts" data-subscribe-to="POST_PROFILE_EVENT" data-truid="{{::postRecord.userId}}"></ne-user-profile-object>

              <h2 class="wui-content-title wui-content-title--ne-publication">{{postRecord.title}}</h2>

              <div class="wui-descriptor wui-descriptor--uppercase">
                <span class="ne-publication__metadata ne-publication__metadata--post" ng-if="postRecord.keydateModified != postRecord.keydate">EDITED<wui-timestamp date="postRecord.keydateModified"></wui-timestamp></span>

                <span class="ne-publication__metadata ne-publication__metadata--post">POSTED<wui-timestamp date="postRecord.keydate"></wui-timestamp></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="ne-publication__body ne-publication__body--post wui-large-text wui-large-text--serif" ng-bind-html="postRecord.content"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="text-right">
              <div class="ne-publication__post-controls" ng-if="isAuthor(postRecord.userId)" post-button modal-controller="PostDialogController" post="postRecord"></div>

              <div class="ne-publication__post-controls" ng-if="isAuthor(postRecord.userId)" post-delete-button target="postRecord" target-type="posts" modal-controller="PostDeleteDialogController"></div>

              <div class="ne-publication__post-controls" ng-if="!isAuthor(postRecord.userId)" comment-flag target="postRecord" modal-controller="FlagDialogController"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
        <div class="ne-publication-sidebar">

          <div class="row">
            <div class="col-xs-12">
              <div class="ne-publication-sidebar__social-share">
                <button
                  analytics-event
                  class="share-btn share-btn--large pull-left"
                  event-category="share-google-plus-post"
                  event-action="{{::id}}"
                  social-gplus
                  tooltip="Share on Google+"
                  tooltip-placement="bottom">
                  <i class="fa fa-google-plus share-menu-icon"></i>
                </button>

                <button facebook-share
                        analytics-event
                        event-category="share-facebook-post"
                        event-action="{{::id}}"
                        link="{{::postRecord.url}}"
                        name="{{::postRecord.title}}"
                        caption="{{::postRecord.source}}"
                        description="{{::postRecord.abstract}}">
                </button>

                <button
                  analytics-event
                  class="share-btn share-btn--large pull-left"
                  event-category="share-twitter-post"
                  event-action="{{::id}}"
                  social-twitter
                  status="{{::postRecord.title | ellipsis:80:true:'...'}} - {{::postRecord.url}}"
                  tooltip="Share on Twitter"
                  tooltip-placement="bottom">
                  <i class="fa fa-twitter share-menu-icon"></i>
                </button>

                <button linkedin-share
                        analytics-event
                        event-category="share-linkedin-post"
                        event-action="{{::id}}"
                        link="{{::postRecord.url}}"
                        picture="https://d3rm6si6l6yzgk.cloudfront.net/1p-frontend/neon-social-share-banner.jpg"
                        name="{{::postRecord.title}}"
                        description="{{::postRecord.abstract}}">
                </button>
              </div>

              <div class="ne-publication-sidebar__actions">
                <ne-watch-directive publication-id="{{::id}}" type="{{::record._type}}"></ne-watch-directive>
              </div>

              <div class="ne-publication-sidebar__metrics">
                <div class="wui-metric wui-metric--ne-publication-sidebar" ng-show="viewCount">
                  <span class="wui-metric__value">{{viewCount | number}}</span>
                  <span class="wui-metric__label">Views</span>
                </div>

                <div class="wui-icon-metric wui-metric--ne-publication-sidebar">
                  <i class="wui-icon-metric__icon fa fa-comment-o"></i>
                  <span class="wui-icon-metric__value">{{commentCount}}</span>
                  <span class="wui-icon-metric__label">Comments</span>
                </div>

                <button class="wui-icon-metric wui-metric--ne-publication-sidebar"
                  ng-if="postRecord.statistics.hasAppreciated != 'UP'"
                  ng-click="appreciateThis(postRecord.id, 'UP')"
                  data-analytics-event data-event-category="posts" data-event-action="like"
                >
                  <i class="wui-icon-metric__icon fa fa-thumbs-o-up"></i>
                  <span class="wui-icon-metric__value">{{postRecord.statistics.appreciateCount}}</span>
                  <span class="wui-icon-metric__label">Likes</span>
                </button>

                <button class="wui-icon-metric wui-metric--ne-publication-sidebar"
                  ng-if="postRecord.statistics.hasAppreciated === 'UP'"
                  ng-click="appreciateThis(postRecord.id, 'DOWN')"
                  data-analytics-event data-event-category="posts" data-event-action="unlike"
                >
                  <i class="wui-icon-metric__icon wui-icon-metric__icon--active fa fa-thumbs-o-up"></i>
                  <span class="wui-icon-metric__value">{{postRecord.statistics.appreciateCount}}</span>
                  <span class="wui-icon-metric__label">Likes</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="postRecord.status==='PUBLISHED'">
      <div class="col-xs-12 col-sm-7">
        <div class="ne-publication__comment-list">
          <ng-include src="'/modules/components/comment/templates/comment-list.html'"></ng-include>
        </div>
      </div>
    </div>

    <div class="row" ng-if="isStatusAsAnyDeleted()">
      <div class="col-xs-12 col-sm-7" ng-cloak>

        <div class="row">
          <div class="col-xs-12">
            <h2 class="wui-content-title wui-content-title--medium">
              <span ng-show="isStatusAsAdminDeleted()">This post has been removed by Community Manager.</span>

              <span ng-show="isStatusAsDeleted()">This post has been removed by the member.</span>
            </h2>

            <div class="wui-descriptor wui-descriptor--uppercase" ng-if="postRecord.keydateModified != postRecord.keydate">
              <div class="ne-publication__metadata">
                Posted
                <span ng-show="!isToday(postRecord.keydate)">{{toLocalTime(postRecord.keydate/1000) | amDateFormat:' D MMMM YYYY | h:mm A'}}</span>

                <span ng-show="isToday(postRecord.keydate)">TODAY {{toLocalTime(postRecord.keydate/1000) | amDateFormat:' | h:mm A'}}</span>
              </div>

              <div class="ne-publication__metadata">
                Removed
                <span ng-show="!isToday(postRecord.keydateModified)">{{toLocalTime(postRecord.keydateModified/1000) | amDateFormat:' D MMMM YYYY | h:mm A'}}</span>

                <span ng-show="isToday(postRecord.keydateModified)">TODAY {{toLocalTime(postRecord.keydateModified/1000) | amDateFormat:' | h:mm A'}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="ne-publication__comment-list">
              <ng-include src="'/modules/components/comment/templates/comment-list-only.html'"></ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
