<div class="modal-header wui-modal__header">
  <h3 class="wui-modal__title">Delete Watchlist</h3>

  <button
    class="wui-modal__close-btn"
    title="Close"
    ng-click="vm.close()"
  >
    <i class="fa fa-close"></i>
  </button>
</div>

<div class="modal-body wui-modal__body">
  <p>Are you sure you want to delete this Watchlist?</p>
</div>

<div class="modal-footer wui-modal__footer">
  <button
    class="wui-btn wui-btn--secondary wui-btn--modal-footer"
    ng-click="vm.close()"
    data-analytics-event data-event-category="watchlist-details-ck-delete" data-event-action="cancel"
  >Cancel</button>

  <button
    class="wui-btn wui-btn--primary wui-btn--modal-footer"
    ng-click="vm.delete()"
    data-analytics-event data-event-category="watchlist-details-ck-delete" data-event-action="delete"
  >Delete</button>
</div>
